@import "variables";

:root {
  font-size: $font-size;
  font-family: $font-family;

}

body {
  --body-bg: #{$light-body-bg};
  --top-bg: #{$light-top-bg};
  --card-bg: #{$light-card-bg};
  --text-small: #{$light-text-small};
  --text-heading: #{$light-text-heading};
  --toggle-bg: #{$light-toggle-bg};

  &.dark-mode {
    --body-bg: #{$dark-body-bg};
    --top-bg: #{$dark-top-bg};
    --card-bg: #{$dark-card-bg};
    --text-small: #{$dark-text-small};
    --text-heading: #{$dark-text-heading};
    --toggle-bg: #{$dark-toggle-bg};
  }
}

.icon {
  width: 20px;
  height: 20px;

  background-size: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;

  &.icon__facebook {
    background-image: url("../images/icon-facebook.svg");
  }

  &.icon__instagram {
    background-image: url("../images/icon-instagram.svg");
  }

  &.icon__twitter {
    background-image: url("../images/icon-twitter.svg");
  }

  &.icon__youtube {
    background-image: url("../images/icon-youtube.svg");
  }

  &.icon__down,
  &.icon__up {
    height: 10px;
    width: 10px;

    background-size: 10px;

  }

  &.icon__up {
    background-image: url("../images/icon-up.svg");
  }

  &.icon__down {
    background-image: url("../images/icon-down.svg");
  }
}

body {
  display: grid;
  grid-auto-flow: row;
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(5, calc(235px / 5))  repeat(2, auto);
  min-width: 375px;

  background-color: var(--body-bg);

  main {
    grid-row: 5 / span 2;
    grid-column: 1;
  }

  small {
    font-size: 0.85rem;
    font-weight: 400;
  }

  strong {
    font-size: 0.85rem;
    font-weight: 700;
  }

  .rise {
    color: $lime-green;
  }

  .fall {
    color: $bright-red;
  }

  .color-gray {
    color: var(--text-small);
  }

  .color-heading {
    color: var(--text-heading);
  }

  .self-end {
    justify-self: end;
  }

  .cards {
    margin: 1rem;
    display: grid;
    gap: 1.5rem;

    .card {
      border-radius: 5px;
      background-color: var(--card-bg);
      overflow: hidden;
      align-items: center;

      &:hover {
        cursor: pointer;
        filter: brightness(125%);
      }

      &__body {
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
        display: grid;
        justify-items: center;
      }

      &--facebook {
        height: 4px;
        width: 100%;
        background: $facebook;
        display: block;
      }

      &--twitter {
        height: 4px;
        width: 100%;
        background: $twitter;
        display: block;
      }

      &--youtube {
        height: 4px;
        width: 100%;
        background: $you-tube;
        display: block;
      }

      &--instagram {
        height: 4px;
        width: 100%;
        background: $instagram;
        display: block;
      }

      &__user {
        display: inline-grid;
        place-items: center;
        grid-auto-flow: column;
        gap: 0.5rem;
      }

      &__stat {
        display: grid;
        grid-auto-flow: row;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

        strong {
          font-size: 4rem;
        }

        small {
          text-transform: uppercase;
          letter-spacing: 0.4rem;
        }

      }

      &__difference {
        gap: 0.3rem;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
      }

    }

    &.small {
      margin-top: 4rem;

      .cards__title {
        margin-bottom: 1rem;

        strong {
          font-size: 1.8rem;
        }
      }

      .card {
        padding: 0;

        .card__body {
          padding: 2rem;
          grid-auto-flow: column;
          justify-items: stretch;
        }

        &__stat {
          text-align: left;
          margin: 0;
          gap: 2rem;

          strong {
            font-size: 2rem;
          }

          .color-gray {
            font-size: 1rem;
          }
        }

        &__difference {
          grid-auto-flow: row;
          text-align: right;
          gap: 2rem;

          .fall, .rise {
            .icon {
              margin-right: 0.2rem;
            }
          }
        }


      }
    }

  }

  header {
    grid-column: 1;
    background-color: var(--top-bg);
    height: 225px;
    grid-row: 1 / span 5;
    border-radius: 0 0 25px 25px;
    padding: 1rem;

    .title {
      margin-bottom: 2rem;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }

      strong {
        font-size: 1.1rem;
      }
    }

    .mode-trigger {
      padding-top: 1.5rem;
      border-top: 1px solid var(--text-small);
      display: grid;
      justify-items: stretch;
      grid-auto-flow: column;
      align-items: center;


      strong {
        font-size: 1rem;
      }

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
        justify-self: end;

        &:hover {
          cursor: pointer;
          filter: brightness(125%);
        }
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--toggle-bg);
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        right: 3px;
        bottom: 3px;
        background: var(--top-bg);
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background: $dark-toggle-bg;
      }

      input:focus + .slider {
        //box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        transform: translateX(-23px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }


  }

  footer {
    grid-row: 7;
  }

  @media (min-width: 1439.98px) {
    & {
      display: grid;
      justify-items: center;

      main {
        width: 1110px;
        grid-row: 4 / span 3;

        .cards {
          grid-template-columns: repeat(4, 1fr);
          margin-left: 0;
          margin-right: 0;

          &.small {
            .cards__title {
              grid-column: 1 / span 4;
            }
          }
        }
      }

      header {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-auto-flow: column;
        grid-template-columns: 1fr repeat(2, 550px) 1fr;

        .title {
          grid-column: 2;
          justify-self: start;
        }

        .mode-trigger {
          align-items: start;
          gap: 1rem;
          border-top: none;
          grid-column: 3;
          justify-self: end;
        }
      }
    }
  }
}